body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
}


.searchbar {
  background-color: black;
  width: 100%;
  height: 3rem;
  padding: 18px 50px;
  display: flex;
  width: 93%;
  justify-content: space-between;
}

#search {
  height: 2rem;
  width: 15rem;
  font-size: 1.3rem;
  padding: 3px 13px;
  border-radius: 10px 10px 10px 10px;
}

#btn {
  margin-left: 1rem;
  width: 4rem;
  font-size: 1.1rem;
}

.container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 2rem;
}

.post {
  background-color: bisque;
  overflow: hidden;
  width: 22rem;
  display: flex;
  flex-direction: column;
  margin: 3px 1rem;
  margin: 10px 13px;
  min-height: 430px;
  cursor: pointer;
}

.sourceimg {
  height: 200px;
  width: 100%;
}

p {
  word-break: break-word;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding: 0px 1.6rem;
}

.info-container #title {
  margin: 2px 0px;
  font-size: 1.3rem;
}

.upload {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  font-size: 1rem;
}

.upload .content {
  font-size: 1rem;
}

.info-container .content {
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


#page {
  width:5rem;
  height: 2rem;
  background-color: blue;
  color: white;
  font-size: 1rem;
  padding: 7px 10px;
}

ul {
  display: flex;
  list-style: none;
  color: white;
  margin-right: 2rem;
}

.topics {
  margin: 0px 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.topics .active {
  margin: 0px 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}